.Container {
  height: 100vh;
  width: 100vw;
}

.Emoji {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #15202B;
}

.Text {
  color: white;
  font-weight: 400;
  font-family: sans-serif;
}
