.Container {
  /* height: 50vh; */
  height: 100%;
  width: 100vw;
  display: flex;
  color: #14171A;
}

.BackgroundWrapper {
  /* height: 50vh; */
  height: 100%;
  width: 100vw;
  z-index: -1;
  position: absolute;
  background-color: #FFFFFF;
}

.Content {
  height: calc(100% - 30px - 30px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.Content img {
  border-radius: 15%;
  width: 10vw;
  height: 10vw;
}

.Article {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.NavWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 30px;
  margin-left: 30px;
  position: fixed;
  width: 25%;
}

.NavWrapper a {
  text-decoration: none;
  color: #14171A;
}

.NavWrapper a:hover {
  position: relative;
  top: -2px;
  left: 5px;
}

.LeftWrapper {
  width: calc(50% - 75px);
  display: flex;
  justify-content: flex-end;
  margin-right: 75px;
}

.RightWrapper {
  width: calc(50% - 20%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 20%;
}

.SplitTitle {
  margin-bottom: 30px;
  margin-top: 50px;
  color: #15212B;
  font-size: xx-large;
}

h2, h3, h4 {
  margin-bottom: 0px;
}

h4 {
  color: #50565B;
}